<h1>Mushroom App</h1>

<p>Search Mushrooms</p>
<input type="text" ng-model="searchMushroomDescription" name=""><br>
Poisonous <input type="radio" name="toxicity" value="true" ng-model="isThisPoison">
Non-Poisonous <input type="radio" name="toxicity" value="false" ng-model="isThisPoison">

<h3>List of Mushrooms</h3>

<ul>
  <!-- <li ng-repeat="mushroom in mushroomList | filter: searchMushroom">{{mushroom}}</li> -->

  <!-- <li ng-repeat="mushroom in mushroomList | filter: searchMushroomDescription""> -->
  <li ng-repeat="mushroom in mushroomList | filter: searchMushroomDescription | filter: isThisPoison">

    <div ng-repeat="(key, value) in mushroom">
      <h4>Name: {{key}}</h4>
      <p>Edible: {{value.edible}}</p>
      <p>Description: {{value.description}}</p>
    </div>

  </li>
</ul>
